/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --header-color : 
    --footer_color :
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

/* Light mode */
.light-mode {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Dark mode */
.dark-mode {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    background: var(--primary-color);
    color : var(--secondary-color);
    z-index: 1000;
}

header .logo {
    max-width: 80px;
    color: var(--primary-color); /* Use secondary color for logo */
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 20px;
}

header ul li a {
    color: var(--secondary-color);
    font-weight: 400;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
    color: green; /* Adjust hover color */
}

#icon {
    width: 5;
    cursor: pointer;
}

/* Main section */
section {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-color);
    min-height: calc(100vh - 40px); /* Consider header height */
}

/* Text container */
.container.text {
    max-width: 600px;
}

.container.text h2 {
    color: var(--primary-color);
    font-weight: 800; /* Removed "px" from font-weight */
    line-height: 1.4em;
    font-size: 50px;
    margin-bottom: 20px;
}

.container.text h2 span {
    color: green;
    font-weight: 900;
    font-size: 2em;
}

.container.text p {
    color: var(--primary-color);
    font-weight: 400;
    line-height: 1.5em;
}

.container.text a {
    color: var(--primary-color);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 40px;
    padding: 10px 30px;
    text-decoration: none;
    background:var(--secondary-color);
    margin-top: 20px;
    display: inline-block;
}

/* Image container */
.container.image {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.container.image img {
    max-width: 700px; /* Increased max-width */
    height: auto; /* Maintain aspect ratio */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: bottom 1s left 1s;
}


* Footer */
footer 
{
    background-color: var(--secondary-color);
    padding: 50px 0;
    text-align: center;
    width: 100vw;
}

footer .container 
{
    display: flex;
    justify-content: space-between;
}

.contact-info, .quick-links, .social-media 
{
    flex: 1;
    margin-bottom: 20px;
}

.quick-links > ul > li
{
    list-style: none;
}

.contact-info > h3, .quick-links > h3, .social-media > h3 
{
    color: var(--primary-color);
    margin-bottom: 20px;
}

.contact-info > p, .quick-links > ul, .social-media > ul 
{
    color: var(--primary-color);
    margin-bottom: 10px;
}

.quick-links > ul > li {
    margin-bottom: 5px;
}

.social-media > ul > li {
    display: inline-block;
    margin-right: 10px;
}

.social-media > ul > li:last-child {
    margin-right: 0;
}

.quick-links > ul > li > a
{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.quick-links > ul > li > a:hover
{
    text-decoration: underline;
}
