* {
    font-family: "Manrope";
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.container {
    margin-top: 50px;
}

.inventory-section,
.usage-section,
.maintenance-section {
    margin-bottom: 40px;
}

.inventory-section h2,
.usage-section h2,
.maintenance-section h2 {
    color: green;
}

.inventory-section form,
.usage-section form,
.maintenance-section form {
    margin-bottom: 20px;
}

.inventory-section form label,
.usage-section form label,
.maintenance-section form label {
    display: block;
    margin-bottom: 10px;
}

.inventory-section form input,
.usage-section form input,
.maintenance-section form input,
.inventory-section form select,
.usage-section form select,
.maintenance-section form select {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.inventory-section form button,
.usage-section form button,
.maintenance-section form button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

* Footer */
footer 
{
    background-color: var(--secondary-color);
    padding: 50px 0;
    text-align: center;
    width: 100vw;
}

footer .container 
{
    display: flex;
    justify-content: space-between;
}

.contact-info, .quick-links, .social-media 
{
    flex: 1;
    margin-bottom: 20px;
}

.quick-links > ul > li
{
    list-style: none;
}

.contact-info > h3, .quick-links > h3, .social-media > h3 
{
    color: var(--primary-color);
    margin-bottom: 20px;
}

.contact-info > p, .quick-links > ul, .social-media > ul 
{
    color: var(--primary-color);
    margin-bottom: 10px;
}

.quick-links > ul > li {
    margin-bottom: 5px;
}

.social-media > ul > li {
    display: inline-block;
    margin-right: 10px;
}

.social-media > ul > li:last-child {
    margin-right: 0;
}

.quick-links > ul > li > a
{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.quick-links > ul > li > a:hover
{
    text-decoration: underline;
}

