*{
    font-family: "Manrope";
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.profile {
    display: flex;
}

.user-avatar {
    margin-right: 20px;
    text-align: center;
}


.user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}


.container {
    display: flex;
}

.user-details {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.edit-profile {
    flex: 1;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

.edit-profile {
        margin-top: 20px;
    }
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
} 

#first-name,
#last-name {
    display: inline-block; 
    margin-right: 10px; 
    margin-bottom: 5px;
}

* Footer */
footer 
{
    background-color: var(--secondary-color);
    padding: 50px 0;
    text-align: center;
    width: 100vw;
}

footer .container 
{
    display: flex;
    justify-content: space-between;
}

.contact-info, .quick-links, .social-media 
{
    flex: 1;
    margin-bottom: 20px;
}

.quick-links > ul > li
{
    list-style: none;
}

.contact-info > h3, .quick-links > h3, .social-media > h3 
{
    color: var(--primary-color);
    margin-bottom: 20px;
}

.contact-info > p, .quick-links > ul, .social-media > ul 
{
    color: var(--primary-color);
    margin-bottom: 10px;
}

.quick-links > ul > li {
    margin-bottom: 5px;
}

.social-media > ul > li {
    display: inline-block;
    margin-right: 10px;
}

.social-media > ul > li:last-child {
    margin-right: 0;
}

.quick-links > ul > li > a
{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.quick-links > ul > li > a:hover
{
    text-decoration: underline;
}




