*{
    font-family: "Manrope";
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.profile {
    display: flex;
}

.user-avatar {
    margin-right: 20px;
    text-align: center;
}


.user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}


.container {
    display: flex;
}

.user-details {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.edit-profile {
    flex: 1;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

.edit-profile {
        margin-top: 20px;
    }
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
} 

#first-name,
#last-name {
    display: inline-block; 
    margin-right: 10px; 
    margin-bottom: 5px;
}


footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

