<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Home</title>
    <link rel="stylesheet" href="style.css"/>
</head>

<body>
    <!-- Sidebar -->
    <nav class="navbar">
        <div class="navbar_container">
            <a href="#home" id="navbar_logo">Gabe Fitness </a>
            <div class="navbar_toogle" id="mobile_menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="#home" class="navbar_links" id="home_page">Home</a>
                </li>
                <li class="navbar_item">
                    <a href="#about" class="navbar_links" id="about_page">About</a>
                </li>
                <li class="navbar_item">
                    <a href="#schedule" class="navbar_links" id="service_page">Schedule</a>
                </li>
                <li class="navbar_item">
                    <a href="#dashboard" class="navbar_links" id="service_page">Dashboard</a>
                </li>
                <li class="navbar_btn">
                    <a href="#sign-up" class="button" id="signup">Sign up</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero" id="hero">
        <div class="hero_container">
            <h1 class="hero_heading">
                Knowledge without
                <span>Vitality</span>
            </h1>
            <p class="hero_description">Unlimited Possibilities</p>
            <button class="main_btn"> <a href="#">Explore</a> </button>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer">
            <div>
                <p>Copyright &copy; 2024 Gabe's Fitness</p>
            </div>
            <div class="icons">
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="logo-youtube"></ion-icon>
                <ion-icon name="logo-facebook"></ion-icon>
            </div>    
        </div>
    </footer>
    
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="index.js"></script>

</html>